/* Reset de margin e padding */
* {
    margin: 0;
    padding: 1px;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: sans-serif;
    /* background-image: url(../Imagens/WhatsApp\ Image\ 2025-10-22\ at\ 22.49.26.jpeg); */
    background-image: url('../imagens/index.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

/* Navbar 
#n {
    background-color: #b20000;
    padding: 15px 0;
    height: 100px;
}

#n img {
    width: 80px;
    height: 80px;
    margin-top: -5px;
    margin-left: 70px;
}
*/

.container {
    width: 1200px;
    height: 80px;
    margin-left: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -85px;
    background-color: #b20000;
}

/* .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    font-family: sans-serif;
}

.navbar .navbar-links a:hover {
    color: #ffffff;
} */

#saudacao {
    /* width: 1200px; */
    width: 80%;
    height: 350px;
    /* margin-top: 100px; */
    margin-top: 80px;
    display: grid;
    background-color: rgb(0, 0, 0, 0.5);
    margin-left: 120px;
}

#saudacao h2 {
    font-size: 50px;
    margin-left: 144px;
    color: #ffffff;
}

#saudacao p {
    font-size: 30px;
    margin-left: 140px;
    margin-top: -20px;
    color: #ffffff;
}
/* Footer 
.footer {
    background-color: #b20000;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 130px;

}

.footer p {
    margin: 0;
}
*/

/* Adicionando responsividade */

@media (max-width: 360px) {
    .container {
        width: 100%;
    }

    #saudacao {
        margin-left: 40px;
    }

    #saudacao h2 {
        font-size: 25px;
        margin-left: 20px;
    }

    #saudacao p {
        margin-left: 15px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
    
    #saudacao {
        margin-left: 50px;
    }

    #saudacao h2 {
        font-size: 40px;
        margin-left: 20px;
    }
    #saudacao p {
        margin-left: 20px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    #saudacao {
        margin-left: 65px;
    }

    #saudacao h2 {
        font-size: 45px;
        margin-left: 30px;
    }

    #saudacao p {
        margin-left: 30px;
    }
}

@media (max-width: 720px) {
    .container {
        width: 100%;
    }

    #saudacao {
        margin-left: 80px;
    }

    #saudacao h2 {
        font-size: 45px;
        margin-left: 35px;
    }

    #saudacao p {
        margin-left: 35px;
    }
}