
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: sans-serif;
  
  background-image: url('../imagens/sobre.jpeg'); 
  background-color: #fffefe; 
  background-size: cover; 
  background-attachment: fixed; 
  background-repeat: no-repeat; 
  
}
body {
  font-family: sans-serif;
  background-color: #fffefe;


  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.navbar {
  background-color: #b20000;
  box-shadow: 0 4px 6px rgb(8, 8, 8);
  padding: 15px 0;  
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: #f8f5f5;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
}

.navbar .navbar-links a:hover {
  color: #007bff;
}

/* Header */
.header {
  text-align: center;
  margin: 50px 0;
}

.header h1 {
  font-size: 36px;
  color: #fffefe;
}

.header p {
  font-size: 18px;
  color: #fcfdff;
}


.content-section {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto 40px auto;
  flex: 1; 
}

.cards-container {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background-color: #fff;
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease;
  min-height: 220px; 
}

.card h3 {
  font-size: 22px; 
  margin-bottom: 10px;
  color: #333;
}

.card p {
  font-size: 16px; 
  color: #555;
  line-height: 1.5;
}

.card:hover {
  transform: translateY(-8px);
}



.footer {
  background-color: #b20000;
  color:  white;
  text-align: center;
  padding: 20px 0;
  margin-top: auto; 
}
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid   #ccc;
    border-radius: 4px;
}

.contact-form textarea {
    resize: vertical; 
}

.contact-form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background 0.3s;
}

.contact-form button[type="submit"]:hover {
    background: #4cae4c;
}
